.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-columns: repeat(3, auto);
  row-gap: 24px;
  column-gap: 10px;
  }
  div {
    background-color: rgb(61, 165, 255);
    text-align: center;
  }
  div div::before, div div::after {
    font-size: 30px;
    color: white;
  }
  div div::before {
    content: "Element";
  }
  div div {
    align-content: center;
    counter-increment: cnt;
  }
  div div::after {
    content: counter(cnt);
    padding: 5px;
  }