body{
    background-color: #7e7e7e;
}
span {
    width: 50px;
    height: 50px;
    margin: 100px auto;
    display: block;
    border-radius: 50%;
    border: rgb(72, 124, 255) 5px solid;
    border-bottom: transparent 5px solid;
    position: relative;
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
}
span::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: orange solid 5px;
    border-bottom: transparent 5px solid;
    transform: translate(-5px,-5px) scale(1.3,1.3);
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;

} 
span::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: black solid 5px;
    border-bottom: transparent 5px solid;
    transform: translate(-5px,-5px) scale(1.7,1.7);
    animation-name: loading;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
}
@keyframes loading {
    100% {
        transform: rotate(360deg);
    }
}


span:hover, span:hover::after, span:hover::before {
    animation-play-state: running;
}
