.root {
    width: 400px;
    margin: 0 auto;
    background-color: #eee;
    list-style:none;
}
.html{
    list-style:decimal;
}
.html-child{
    list-style-position: outside;
    background-color: white;
    margin: 10px 0px;
    margin-right: 5px;
    padding: 5px;
}
.css{
    list-style-type:upper-roman;
}
.css-child {
    list-style-position: outside;
    background-color: white;
    margin: 10px 0px;
    margin-right: 5px;
    padding: 5px;
}
.js{
    list-style-position: inside;
    padding: 0px;
}
.child-js {
    background-color: white;
    margin: 10px 0px;
    padding: 5px;
    margin-right: 5px;

}