div {
    margin: 20px auto;
    width: 300px;
    font-weight: bold;
    font-size: 1rem;
    padding: 20px;
    background-color: #b3b3b3;
    color: black;
}

.one{
    background-color: rgb(179,179,179,.5)
}
.two{
    opacity: .1;
}