div {
    width: 400px;
    height: 400px;
    background-image: url(../css-assignment-5-8.png);
}

.assign-4-shape-1 {
    background-size: 80% 80%;
    background-repeat: no-repeat;
}

.assign-4-shape-2 {
    background-position: right center;
    background-size: 80% 80%;
    background-repeat: repeat-y;
}

.assign-4-shape-3 {
    background-position: center bottom;
    background-size: 80% 80%;
    background-repeat: repeat-x;
}

.assign-4-shape-4 {
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: right bottom;
}   